.search-block {
  display: flex;
  align-items: center;
  margin: 0 2px 5px 5px;
  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 0 5px 5px 0;
  }
}
.search-block__text {
  width: 180px;
  height: 35px;
  font-size: 14px;
  border: 1px solid $color-dark;
  border-radius: 4px 0 0 4px;
  color: #000;
  background-color: #fff;
  padding: 5px 10px;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-color: $color-link;
  }
}
.search-block__btn {
  width: 35px;
  height: 35px;
  border-radius: 0 4px 4px 0;
  border: 1px solid $color-link;
  font-size: 20px;
  padding: 5px;
  color: #fff;
  background-color: $color-link;
  &:hover,
  &:focus {
    outline: none;
    background-color: $color-light;
    color: #000;
    border-color: $color-dark;
  }
  &:active {
    outline: none;
    background-color: $color-link;
    color: #fff;
    border-color: $color-link;
  }
}
.sort-block {
  border: 1px solid $color-dark;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  color: #000;
  background-color: #fff;
  width: 180px;
  height: 35px;
  padding: 5px 10px;
  margin: 0 5px 5px 2px;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-color: $color-link;
  }
  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 0 0 5px 5px;
  }
}
.main-btn {
  min-width: 100px;
  padding: 4px 20px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: $color-link;
  &:hover,
  &:focus {
    outline: none;
    background-color: $color-light;
    color: #000;
  }
  &:active {
    outline: none;
    background-color: $color-link;
    color: #fff;
  }
}
.secondary-btn {
  min-width: 100px;
  padding: 4px 20px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: $color-dark;
  &:hover,
  &:focus {
    outline: none;
    background-color: $color-light;
    color: #000;
    border-color: $color-dark;
  }
  &:active {
    outline: none;
    background-color: $color-dark;
    color: #fff;
    border-color: $color-dark;
  }
}
.history-btn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-color: $color-light;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  &:hover,
  &:focus {
    outline: none;
    color: #fff;
    background-color: $color-link;
  }
}