body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
}
.section-main {
  min-width: $min-view;
}
.section-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.link-light {
  font-size: 14px;
  color: #fff;
  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
    color: $color-link;
  }
}