.products-list {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: wrap;
  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }
}
.product-card {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    flex-basis: 45%;
  }
  @include media-breakpoint-up(lg) {
    flex-basis: 30%;
    &:nth-child(3n+2) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
.product-card__img {
  width: 100%;
  object-fit: cover;
}