.main-caption {
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;  
  color: $color-light;
  @include media-breakpoint-up(sm) {
    font-size: 54px;
  }
  @include media-breakpoint-up(md) {
    font-size: 72px;
  }
}
.items-caption {
  font-size: 20px;
  font-weight: 400;
  color: $color-dark;
  @include media-breakpoint-up(sm) {
    font-size: 26px;
  }
}
.secondary-font{
  font-size: 14px;
  color: $color-middle-dark;
}