$primary-font: "Roboto", sans-serif;
$color-light: #ebebeb;
$color-dark: #4f4f4f;
$color-middle-dark: #6c757d;
$color-link: #007bff;
$min-view: 300px;

$color-marker-primary: #ed4c5c;
$color-back-secondary: #fafafa;
$color-text-secondary: #101010;
