button,
input {
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4
h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

@font-face {
  font-family: 'icomoon';
  src: url("./icon-fonts/icomoon.woff?74cu9j") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arr-down:before {
  content: "\e900";
}

.arr-left:before {
  content: "\e901";
}

.arr-right:before {
  content: "\e902";
}

.cart:before {
  content: "\e903";
}

.email:before {
  content: "\e905";
}

.home:before {
  content: "\e908";
}

.marker-yes:before {
  content: "\e90d";
}

.phone:before {
  content: "\e90e";
}

.search:before {
  content: "\e911";
}

.star-mark:before {
  content: "\e912";
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.section-main {
  min-width: 300px;
}

.section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .section-info {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.link-light {
  font-size: 14px;
  color: #fff;
}

.link-light:hover, .link-light:focus {
  outline: none;
  text-decoration: underline;
  color: #ffa600;
}

.aside-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .aside-category {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.category-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
}

@media (min-width: 576px) {
  .category-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
    margin: 0;
  }
}

.category-nav__item {
  font-size: 14px;
  text-transform: uppercase;
  color: #6c757d;
  background: transparent;
  text-align: left;
  padding: 0 5px;
}

.category-nav__item:hover, .category-nav__item:focus {
  outline: none;
  color: #ffa600;
  text-decoration: underline;
  background: transparent;
}

.category-nav__item:active {
  outline: none;
  text-decoration: none;
  color: #6c757d;
}

@media (min-width: 768px) {
  .category-nav__item {
    padding: 0;
  }
}

.category-btn {
  width: 180px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  color: #000;
  background-color: #fff;
  padding: 5px 10px;
}

.category-btn:hover, .category-btn:focus, .category-btn:active {
  outline: none;
  border-color: #ffa600;
}

@media (min-width: 768px) {
  .category-btn {
    display: none;
  }
}

.pagination-arr {
  padding: 0 10px;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #4f4f4f;
  background-color: transparent;
}

.pagination-arr:hover, .pagination-arr:focus {
  outline: none;
  color: #ffa600;
}

.pagination-arr:active {
  outline: none;
  color: #4f4f4f;
}

.pagination-arr-disabled {
  padding: 0 10px;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #4f4f4f;
  background-color: transparent;
}

.pagination-page {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  background-color: transparent;
  margin: 0 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination-page:hover, .pagination-page:focus {
  outline: none;
  background-color: #ebebeb;
}

.pagination-page-active {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-weight: 300;
  margin: 0 2px;
  color: #fff;
  background-color: #ffa600;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.main-caption {
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ebebeb;
}

@media (min-width: 576px) {
  .main-caption {
    font-size: 54px;
  }
}

@media (min-width: 768px) {
  .main-caption {
    font-size: 72px;
  }
}

.product-caption {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}

.product-text {
  font-size: 14px;
  font-weight: 400;
}

.items-caption {
  font-size: 20px;
  font-weight: 400;
  color: #4f4f4f;
}

@media (min-width: 576px) {
  .items-caption {
    font-size: 26px;
  }
}

.items-caption--alt {
  color: #ffa600;
}

.secondary-font {
  font-size: 14px;
  color: #6c757d;
}

.search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2px 5px 5px;
}

@media (min-width: 768px) {
  .search-block {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 5px 5px 0;
  }
}

.search-block__text {
  width: 180px;
  height: 35px;
  font-size: 14px;
  border: 1px solid #4f4f4f;
  border-radius: 4px 0 0 4px;
  color: #000;
  background-color: #fff;
  padding: 5px 10px;
}

.search-block__text:hover, .search-block__text:focus, .search-block__text:active {
  outline: none;
  border-color: #ffa600;
}

.search-block__btn {
  width: 35px;
  height: 35px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #ffa600;
  font-size: 20px;
  padding: 5px;
  color: #fff;
  background-color: #ffa600;
}

.search-block__btn:hover, .search-block__btn:focus {
  outline: none;
  background-color: #ebebeb;
  color: #000;
  border-color: #4f4f4f;
}

.search-block__btn:active {
  outline: none;
  background-color: #ffa600;
  color: #fff;
  border-color: #ffa600;
}

.sort-block {
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  color: #000;
  background-color: #fff;
  width: 180px;
  height: 35px;
  padding: 5px 10px;
  margin: 0 5px 5px 2px;
}

.sort-block:hover, .sort-block:focus, .sort-block:active {
  outline: none;
  border-color: #ffa600;
}

@media (min-width: 768px) {
  .sort-block {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 0 5px 5px;
  }
}

.main-btn {
  min-width: 90px;
  padding: 4px 20px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: #ffa600;
}

.main-btn:hover, .main-btn:focus {
  outline: none;
  background-color: #ebebeb;
  color: #000;
}

.main-btn:active {
  outline: none;
  background-color: #ffa600;
  color: #fff;
}

.secondary-btn {
  min-width: 90px;
  padding: 4px 20px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: #4f4f4f;
}

.secondary-btn:hover, .secondary-btn:focus {
  outline: none;
  background-color: #ebebeb;
  color: #000;
  border-color: #4f4f4f;
}

.secondary-btn:active {
  outline: none;
  background-color: #4f4f4f;
  color: #fff;
  border-color: #4f4f4f;
}

.history-btn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.history-btn:hover, .history-btn:focus {
  outline: none;
  color: #fff;
  background-color: #ffa600;
}

.header {
  width: 100%;
  min-width: 300px;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url("../img/back-sm.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../img/back-sm.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .header {
    height: 300px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url("../img/back-md.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../img/back-md.jpg");
  }
}

@media (min-width: 992px) {
  .header {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url("../img/back-lg.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../img/back-lg.jpg");
  }
}

.header__title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-cart {
  font-size: 22px;
  padding: 5px;
  color: #fff;
  background-color: transparent;
  position: relative;
}

.customer-cart--active:after {
  content: '!';
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #ffa600;
  color: #fff;
}

.customer-cart--active:hover, .customer-cart--active:focus {
  outline: none;
  color: #ffa600;
}

.customer-cart--active:active {
  outline: none;
  color: #fff;
}

.navb-main {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 15px;
}

.navb-scroll {
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}

.navb-scroll .customer-cart {
  color: #000;
}

.navb-scroll .customer-cart--active:hover, .navb-scroll .customer-cart--active:focus {
  outline: none;
  color: #ffa600;
}

.navb-scroll .customer-cart--active:active {
  outline: none;
  color: #000;
}

.footer {
  width: 100%;
  min-width: 300px;
  height: 50px;
  background-color: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content {
  margin-left: auto;
  margin-right: auto;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-list:last-child() {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .product-card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (min-width: 992px) {
  .product-card {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.product-card--cursor:hover, .product-card--cursor:focus {
  cursor: pointer;
}

.product-card__img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fae4ba;
  padding: 5px;
}

@media (min-width: 768px) {
  .product-card__img {
    height: 160px;
  }
}

.product-card__modal {
  width: 100%;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fae4ba;
  padding: 5px;
}

.product-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .order-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.order-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .order-cart {
    width: 60%;
  }
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .order-form {
    width: 40%;
    padding-left: 20px;
  }
}
/*# sourceMappingURL=main.css.map */